azure-identity>=1.15.0
azure-mgmt-subscription>=3.1.1
azure-mgmt-consumption>=10.0.0
azure-mgmt-resource>=21.1.0
azure-mgmt-advisor>=9.0.0
openpyxl>=3.1.2
pandas>=2.1.0
python-dateutil>=2.8.2
plotly>=5.18.0
kaleido>=0.2.1
Pillow>=10.0.0
scipy>=1.11.0
numpy>=1.24.0
